{% extends 'main.html' %}
{% load staticfiles %}

{% block pererabotka %}
{% if username %}
<div class="row">
{% for per in pererabotki %}
    <h5>Имя сотрудника: {{ per.per_to_brigada.name }}</h5>
    <p>ID бригады: {{ per.p_id }}</p>
    <p class="large-5 columns">Дата начала выезда: {{ per.p_date_start }}</p>
    <p class="large-7 columns">Время начала выезда: {{ per.p_time_start }}</p>
    <p class="large-5 columns">Дата окончания выезда: {{ per.p_date_finish }}</p>
    <p class="large-7 columns">Время окончания выезда: {{ per.p_time_finish }}</p>
    <p>Адрес выезда: {{ per.p_address }}</p>
    <p>Описание выезда: {{ per.p_description }}</p>
    <p>Стоимость часа: {{ per.hours_cost }}</p>
    <p>Колисчество часов: {{ per.total_hours }}</p>
    <p>Сумма: {{ per.total_sum }}</p>
    <hr>
{% endfor %}
<div class="row">
<div class="large-push-4 large-7 columns">
    <ul class="pagination">
        {% if pererabotki.has_previous %}
            <li class="arrow"><a href="/page/{{ pererabotki.previous_page_number }}/">&laquo;</a></li>
        {% else %}
            <li class="arrow unavailable"><a href="">&laquo;</a></li>
        {% endif %}

        {% for page in pererabotki.paginator.page_range %}
            {% if page == pererabotki.number %}
                <li class="current"><a href="/page/{{ page }}/">{{ page }}</a></li>
            {% else %}
                <li><a href="/page/{{ page }}/">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if pererabotki.has_next %}
            <li class="arrow"><a href="/page/{{ pererabotki.next_page_number }}/">&raquo;</a></li>
        {% else %}
            <li class="arrow unavailable"><a href="">&raquo;</a></li>
        {% endif %}
    </ul>
</div>
</div>
</div>
    {% else %}
    <p>Для продолжения работы войдите под своим логином или зарегистрируйтесь</p>
    <a href="/auth/login/">Войти</a>
    {% endif %}
{% endblock %}