{% extends 'main.html' %}
{% load staticfiles %}

{% block t_sum %}{{ tsum }}{% endblock %}
{% block pererabotka %}
{% if username %}
<div class="row">
{% for d_per in date_pererabotki %}
    <h5>Имя сотрудника: {{ d_per.per_to_brigada.name }}</h5>
    <p>ID бригады: {{ d_per.p_id }}</p>
    <p class="large-12 columns">Дата и время начала выезда: {{ d_per.p_date_start }} в {{ d_per.p_time_start }}</p>
    <p class="large-12 columns">Дата и время окончания выезда: {{ d_per.p_date_finish }} в {{ d_per.p_time_finish }}</p>
    <p>Адрес выезда: {{ d_per.p_address }}</p>
    <p>Описание выезда: {{ d_per.p_description }}</p>
    <p class="large-5 columns">Количество дневных: {{ d_per.kol_den }}</p>
    <p class="large-7 columns">Сумма дневных: {{ d_per.den }}</p>
    <p class="large-5 columns">Количество ночных: {{ d_per.kol_noch }}</p>
    <p class="large-7 columns">Сумма ночных: {{ d_per.noch }}</p>
    <p>Стоимость часа: {{ d_per.hours_cost }}</p>
    <p>Общее колисчество часов: {{ d_per.total_hours }}</p>
    <p>Сумма: {{ d_per.total_sum }}</p>
    <hr>
{% endfor %}
</div>
    {% else %}
    <p>Для продолжения работы войдите под своим логином или зарегистрируйтесь</p>
    <a href="/auth/login/">Войти</a>
    {% endif %}

{% endblock %}
