{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости СПБ</title>
    <link rel="stylesheet" type="text/css" href="{% static "static/foundation/css/foundation.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static/foundation/css/style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static          "static/foundation/foundation_calendar/foundation-icon-fonts-3/foundation-icons.css" %}" />

	<!-- Add the foundation calendar CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "static/foundation/foundation_calendar/foundation_calendar.css" %}"/>

	<!-- Make sure you have jQuery, date.js loading properly -->
	<script type="text/javascript" src="{% static "static/foundation/js/vendor/jquery.js" %}"></script>
	<script type="text/javascript" src="{% static "static/foundation/js/foundation.min.js" %}" ></script>
	<script type="text/javascript" src="{% static "static/foundation/foundation_calendar/js/date.js" %}"></script>

	<!-- Add the foundation calendar Javascript -->
	<script type="text/javascript" src="{% static "static/foundation/foundation_calendar/foundation_calendar.js" %}"></script>
	<script type="text/javascript" src="{% static "static/foundation/foundation_calendar/helpers/date-helpers.js" %}"></script>
	<script type="text/javascript" src="{% static "static/foundation/foundation_calendar/helpers/string-helpers.js" %}"></script>

</head>
<body>
<div class="top-bar">
    <section class="top-bar-section">
        <ul class="title-area">
            <li class="name">
            <h1><a href="/date_pererabotka/">Главная</a></h1>
            </li>
        </ul>
        <ul class="left">
            <li class="name"><a> Сумма за текущий месяц: {% block t_sum %}{{ tsum }}{% endblock %}</a></li>
        </ul>
        <ul class="right">
            {% if username %}
            <li><a href="/auth/logout/">Выйти ({{ username }})</a></li>
            {% else %}
            <li><a href="/auth/login/">Войти</a></li>
            {% endif %}
        </ul>
        <ul class="right">
            <li><a href="/addpererabotka/#openModal">Добавить переработки</a></li>
        </ul>
        <ul class="right">
            <li><a href="/date_pererabotka/">Посмотреть переработки</a></li>
        </ul>
    </section>
</div>
<p class="large-12 large-uncollapse"></p>
{% block start %}{% endblock %}
{% block pererabotka %}{% endblock %}
{% block pererabotka2 %}{% endblock %}
{% block login %}{% endblock %}
</div>
</body>
</html>