{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости СПБ</title>
    <link rel="stylesheet" type="text/css" href="{% static "static/css/foundation.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static/css/style.css" %}">
</head>
<body>
<div class="top-bar">
    <section class="top-bar-section">
        <ul class="title-area">
            <li class="name">
            <h1><a href="/">Главная</a></h1>
            </li>
        </ul>
        <ul class="right">
            {% if username %}
            <li><a href="/auth/logout/">Выйти ({{ username }})</a></li>
            {% else %}
            <li><a href="/auth/login/">Войти</a></li>
            {% endif %}
        </ul>
        <ul class="right">
            <li><a href="/addpererabotka/">Добавить переработки</a></li>
        </ul>
        <ul class="right">
            <li><a href="/pererabotka/">Посмотреть переработки</a></li>
        </ul>
    </section>
</div>
<div class="row">
<p class="large-12 large-uncollapse"></p>
{% block start %}{% endblock %}
{% block pererabotka %}{% endblock %}
{% block login %}{% endblock %}
</div>
</body>
</html>